@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    background-color: #24252A;
}

body {
    background-color: #aaaaaa;
}

li, .cta, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 550;
    font-size: 18px;
    color: #edf0f1;
}

.Welcome a {
    font-family: "Montserrat", sans-serif;
    font-weight: 550;
    font-size: 18px;
    color: #edf0f1;
    padding-top: 5px;
    padding-bottom: 5px;
}

.Welcome {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #323238;
}

.nav__links li {
    padding: 20px 20px;
    transition: all 0.3s ease 0s;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.logoname {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__links {
    display: flex;
    list-style: none;
    justify-content: space-between;
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__links li:hover {
    color: #0088a9;
}

button {
    margin-right: 20px;
    padding: 9px 25px;
    background-color: rgba(0, 136, 169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(0, 136, 169,0.5);
}
