RewriteEngine on

# Deny access to .htaccess
<Files .htaccess>
Order allow,deny
Deny from all
</Files>

<files credentials.json>
order allow,deny
deny from all
</files>

ErrorDocument 404 /404.php

Redirect 404 /layout.php
Redirect 404 /footer.php

IndexIgnore *.png *.jpg

RewriteCond %{REQUEST_FILENAME} !-d

RewriteCond %{REQUEST_FILENAME}\.php -f

RewriteRule ^(.*)$ $1.php [NC,L]

RewriteCond %{REQUEST_FILENAME} !-d

RewriteCond %{REQUEST_FILENAME} !-f

RedirectMatch 404 ^/classes/.*$

RedirectMatch 404 ^/one-on-one/.*$

RedirectMatch 404 ^/aboutus/.*$

RedirectMatch 404 ^/faq/.*$

RedirectMatch 404 ^/signup/.*$

RedirectMatch 404 ^/donate/.*$